.contain{
	background: #fff;
}
/*title*/
.look-list{
	position: fixed;
    padding-top: 5%;
    padding-bottom: 3%;
    color: #EAEAEA;
    border-bottom: 1px solid #ddd;
    width: 100%;
    z-index: 22;
    background: #fff;
}
.look-list .col-xs-7{

	padding-left: 5%;
}
.col-xs-7 p:nth-child(1){
	font-size: 1.3rem;
	color: #727272;
}
.col-xs-7 p:nth-child(2){
	font-size: 1.2rem;
}
.col-xs-7 p span{
	padding-left: 2rem;
	color: #727272;
}
.ul-list .click{
	border-bottom: 1px solid #14907b;
}

.title-name{
	text-align: center;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.4rem;
	color: #8C8C8C;
}
.between{
	border-left: 1px solid #ddd;
}
/*look-title*/

.look-title{
	padding-top: 32%;
	border-bottom: 1px solid #ddd;
}
.look-title .col-xs-6{
	text-align: center;
    font-size: 1.4rem;
	border-bottom: 1px solid #ddd;
}
.ul-list{
}
.ul-list .click{
	border-bottom: 1px solid #14907b;
}
.title-name{
	margin: 2% 0;
	text-align: center;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1.4rem;
	color: #8C8C8C;
}
.between{
	border-left: 1px solid #ddd;
}
/**/
.list-content{
	z-index: 1;
	padding-top: 2%;
	background: #fff;
	margin-bottom: 5%;
}
.first-content{
	padding-top: 30%;
}
.infor-title{
	border-bottom:1px #ddd solid;
}
.col-xs-2{
	padding: 0;
}
.col-xs-10{
	padding-left: 0;
}
.infor-title-img{
	border:1px solid #ddd;
	height: 3rem;
	border-radius: 50px;
}
.line-one{
	margin-bottom:0.5rem ;
}
.line-one span img {
	height: 1.1rem;
	padding-left: 0.2rem;
}
.line-one span{
	margin-right: 8%;
	font-size: 1.2rem;
}
.line-one span:nth-child(2){
	font-size: 0.8rem;
	color:#14907b;
	border-radius: 50px;
	border:1px #14907b solid;
	padding:0.1rem 0.8rem;
}
.line-two{
	color: #14907b;
	font-size: 1.2rem;
	margin-bottom:0.5rem ;
}
.line-two span{
	margin-right: 3%;
}
.infor-content{
	font-size: 1.4rem;
	color:#353a3d;
	max-height: 14rem;
	padding-top: 5%;
	padding-bottom: 5%;
}
.infor-img .col-xs-3{
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	padding-right: 1%;
    padding-left: 1%;
}
.infor-img .col-xs-3 img{
	width: 100%;
	height: 100%;
}
.infor-tool img{
	height: 1.4rem;
}
.infor-tool{
	padding-top: 5%;
	padding-bottom: 5%;
	color:#14907b;
}
.infor-tool .col-xs-4{
	font-size: 1.4rem;
	padding-right: 0px;
    padding-left: 0px;
}
.infor-tool .col-xs-4:nth-child(1){
	text-indent:2.3rem;
}
.infor-tool .col-xs-4:nth-child(2){
	text-align: center;
}
.infor-tool .col-xs-4:nth-child(3){
	text-indent:2.3rem;
}