body,.contain{
	background: #F9F9F9;
}
a {
    color: #505c67;
    text-decoration: none;
}
/*title*/
.list-title{
    background: #F9F9F9;
}
.center-block{
    color: #424242;
}
.center-block .pull-right{
	margin-right: 5%;
}
.center-block .pull-right a{
	color: #000;
}

/*search*/
.bg-search{
	background: #fff;
	padding:2% 0;
	border-bottom: 1px solid #ddd;
}
.search{
	background: #fff;
	height: 3rem;
	width: 80%;
	margin:2% auto;
	border:1px solid #AAC5C1;
	border-radius: 50px;
	padding-left: 5%;
	font-size: 1.4rem;
	line-height: 3rem;
	color:#E1E1E1;
}
.search img{
	border-left: 1px solid #ddd;
	margin-top: 2%;
	padding: 1% 6% 1% 3%;
	float: right;
	height: 2rem;
}
/*join-list*/
.join-list{
	padding: 3% 0;
	border-bottom: 1px solid #ddd;
}
.row{
	width: 94%;
	margin:0 auto;
}
.joining,.joined{
	background: #fff;
}
.join-img img{
	height: 5rem;
	width: 5rem;
	border-radius: 50px;
	-webkit-border-radius: 50px;
}
.join-content{
}
.join-content p{
	margin: 0 0 0.5rem;
	font-size: 1.3rem;
}
.join-state{
	color: #ddd;
	text-align: center;
}	
.join-process{
	font-size: 1.4rem;
	padding: 0.2rem 0.1rem;
	border: 1px solid #ddd;
	text-align: center;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	margin-top: 0.5rem;
}
.joined-title{
	line-height: 2.5rem;
	text-align: right;
}
p {
    margin: 0 0 0.1rem;
}
.col-xs-3 p{
	font-size: 1.1rem;
}