body{
	background: #fff;
}
.list-group a{
	display: block;
}
/*title*/
.content-title{
	padding-bottom: 5%;
}
.bg-img {
	width: 100%;
	overflow: hidden;
}
.bg-img img{
	width: 100%;
}
.title-img{
	padding-left: 0;
	padding-right: 0;
}
.title-img img{
	width: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1rem solid #fff;
	width: 8rem;
	height: 8rem;
	margin:0px auto;
}
.title-name {
	padding-left: 1rem;
	padding-right: 0;
	padding-top: 12%;
	text-align: center;
}
.title-name img{
	height: 1.5rem;
	padding: 0.1rem;
	margin-left: 0.2rem;
	margin-bottom: 0.3rem;
}
.title-address{
	padding-right: 1rem;
	padding-left: 0;
	padding-top: 12%;
	text-align: center;
}
.title-list{
	width: 98%;
	text-align: center;

}
.col-xs-4{
	font-size: 1.6rem;
	
}
.col-xs-4 span{
	padding-left: 1rem;
	padding-right: 1rem;
}
.infor-content .row1{
	margin-top: -10%;
}
.pink{
	color: #B6B6B6;
}
.green{
	color: #F4C9A7;
}
/*content-list*/
.content-list{
	padding-bottom: 3%;
}
.vertical{
	border-left: 1px solid #ddd;
	border-right:1px solid #ddd;
}

.row{
	padding: 0;
	margin:0;
}
.list-group-item:last-child,.list-group-item:first-child{
	border-radius: 0;
	-webkit-border-radius: 0;

}
.list-group-item img{
	height: 2rem;
	padding-left:2%; 
	padding-right:2%;
}
.list-group-item{
	font-size: 1.4rem;
	color:#233946;
	padding: 1.2rem 1.9rem;
	border-bottom:  1px solid #ddd;
	
}
.list-group-item span{
	color:#ddd;
	font-size: 1.6rem;
}

